/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define QWER 1
#define GAME 2
#define NUMB 3
#define SYMB 4
#define NAVI 5
#define FUNC 6
#define MEDI 7
#define CODE 8
#define CSLP 9
#define TILE 10
#define TSIZ 11
#define NORW 12
#define BLUE 13

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                 CORNE CHOC PRO KEYMAP CONFIGURATION                             ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "BASE";
                      display-name = "Colemak";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // --------------------------------------------------------------------------------
            // |      |  Q  |  W  |  E  |  R  |  T  |       |       |  Y  |  U   |  I  |  O  |  P  |      |
            // | BSPC |  A  |  S  |  D  |  F  |  G  |       |       |  H  |  J   |  K  |  L  |  ;  |      |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |      |
            //                    | ESC | SPC | TAB |               | ENT | BSPC | DEL |
            // --------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |      |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |      |
            // |      |     |     |     |     |     |               |     |      |     |     |     |      |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &none     &kp Q &kp W &kp E &kp R &kp T &none   &none &kp Y &kp U  &kp I     &kp O   &kp P    &none
                &kp BSPC  &kp A &kp S &kp D &kp F &kp G &none   &none &kp H &kp J  &kp K     &kp L   &kp SEMI &none
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B               &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &none
                                      &kp ESC &kp SPACE &kp TAB   &kp RET &kp BSPC &kp DEL
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        qwerty_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "QWER";
                      display-name = "QWERTY";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |  Q  |  W  |  F  |  P  |  B   |       |       |  J  |  L   |  U  |  Y  |  ;  |      |
            // | TAB  |  A  |  R  |  S  |  T  |  G   |       |       |  M  |  N   |  E  |  I  |  O  |      |
            // | SHFT |  Z  |  X  |  C  |  D  |  V   |               |  K  |  H   |  ,  |  .  |  /  |      |
            //                    | ESC | SPC | CTRL |               | ENT | BSPC | DEL |
            // --------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |      |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |      |
            // |      |     |     |     |     |     |               |     |      |     |     |     |      |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &kp Q &kp W &kp F &kp P &kp B &trans &trans &kp J &kp L &kp U    &kp Y    &kp SEMI &trans
                &kp TAB  &kp A &kp R &kp S &kp T &kp G &trans &trans &kp M &kp N &kp E    &kp I    &kp O    &trans
                &trans   &kp Z &kp X &kp C &kp D &kp V               &kp K &kp H &kp COMMA &kp DOT &kp FSLH &trans
                                   &trans &trans &kp LCTRL        &kp RET &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };


        game_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "GAME";
                      display-name = "Game";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |  Q  |  W  |  E  |  R  |  T  |       |       |  Y  |  U   |  I  |  O  |  P  |   |
            // | TAB  |  A  |  S  |  D  |  F  |  G  |       |       |  H  |  J   |  K  |  L  |  ;  |   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  |   |
            //                    | ESC | SPC | TAB |               | ENT | BSPC | DEL |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE  &kp Q &kp W &kp E  &kp R  &kp T &none  &none &kp Y   &kp U  &kp I     &kp O   &kp P    &none
                &kp TAB   &kp A &kp S &kp D  &kp F  &kp G &none  &none &kp H   &kp J  &kp K     &kp L   &kp SEMI &none
                &trans    &kp Z &kp X &kp C  &kp V  &kp B              &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH &none
                                      &trans &trans &kp LCTRL          &kp RET &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        number_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "NUMB";
                      display-name = "NUMBER";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |  !  |  #  |      |     |     |       |       |     |  7  |  8  |  9  |  0  |   |
            // | BSPC |  +  |  =  | "-"  |  <  |  >  |       |       |  ,  |  4  |  5  |  6  |     |   |
            // |      |  ~  |  %  |  *   |  [  |  ]  |               |  .  |  1  |  2  |  3  |  /  |   |
            //                    | BASE | SPC | TAB |               | ENT |  0  | DEL |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans  &trans &none &none &trans  &kp N7 &kp N8 &kp N9 &kp N0 &none
                &kp BSPC &trans &trans &trans   &trans  &trans &none &none &trans  &kp N4 &kp N5 &kp N6 &trans &none
                &trans   &trans &trans &trans   &trans  &trans             &trans  &kp N1 &kp N2 &kp N3 &trans &none
                                       &to BASE &kp SPC &kp TAB            &kp RET &kp N0 &kp DEL
            >;
        };

        symbol_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "SYMB";
                      display-name = "SYMBOL";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        navigation_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "NAV";
                      display-name = "NAVIGATION";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       | TOP | HOME |  UP  | END   | PGUP |   |
            // |      |     |     |     |     |     |       |       | <<  | LEFT | DOWN | RIGHT | PGDN |   |
            // |      |     |     |     |     |     |               |     |      |      |       |      |   |
            //                    |     |     |     |               |     |      |      |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        function_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "FUNC";
                      display-name = "FUNCTION";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        media_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "MEDI";
                      display-name = "MEDIA";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        code_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "CODE";
                      display-name = "CODE";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        codesplit_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "CSLP";
                      display-name = "Code Split";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        tile_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "TILE";
                      display-name = "TILING";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        tilesize_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "TSIZ";
                      display-name = "Tile Size";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        norwegian_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                      label = "NORW";
                      display-name = "Norwegian";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |       |       |     |      |     |     |     |   |
            // |      |     |     |     |     |     |               |     |      |     |     |     |   |
            //                    |     |     |     |               |     |      |     |
            bindings = <
                &to BASE &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans &none &none &trans &trans &trans &trans &trans &none
                &trans   &trans &trans &trans   &trans &trans             &trans &trans &trans &trans &trans &none
                                       &to BASE &trans &trans             &trans &trans &trans
            >;
        };

        bluetooth_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
            // ┃                                                 ┃
                       label = "BLUE";
                       display-name = "Bluetooth";
            // ┃                                                 ┃
            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            // -----------------------------------------------------------------------------------------
            // | BASE |    |      |     |      |       |       |       | BTCL |     |     |     |     |   |
            // |      |    | RSET |     |      |       |       |       |      |     |     |     | TOG |   |
            // |      |    | RGB  |     | BOOT | Unlock|               |      | BT0 | BT1 | BT2 |     |   |
            //                    |     |      |       |               |      |     |     |
            bindings = <
                &to BASE &none &none            &none    &none        &none          &none  &none &bt BT_CLR &none        &none        &none        &none  &none
                &none    &none &sys_reset       &none    &none        &none          &none  &none &none      &none        &none        &none        &tog 3 &none
                &none    &none &rgb_ug RGB_TOG  &none    &bootloader  &studio_unlock              &none      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &none  &none
                                                &to BASE &none        &none                       &none      &none        &none
            >;
        };

    };
};
